{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <form class="form-inline" method="POST">
      <!-- Email input -->
      <div class="input-group mb-2 mr-sm-2">
          <label class="col-sm-2 col-form-label" for="usuario">Usuario</label>
          <input type="text" id="usuario" name="usuario" class="form-control mb-2" />
      </div>

      <div class="input-group mb-2 mr-sm-2">
          <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" class="form-control mb-2" />
      </div>

      <div class="input-group mb-2 mr-sm-2">
          <label class="col-sm-2 col-form-label" for="correo">Correo</label>
          <input type="email" id="correo" name="correo" class="form-control mb-2" />
      </div>

      <div class="input-group mb-2 mr-sm-2">
          <label class="col-sm-2 col-form-label" for="password">Contraseña</label>
          <input type="password" id="password" name="password" class="form-control mb-2" />
      </div>


      <div class="input-group mb-2 mr-sm-2">
          <label class="col-sm-2 col-form-label" for="dni">DNI</label>
          <input type="text" id="dni" name="dni" class="form-control mb-2" />
      </div>

      <div class="input-group mb-2 mr-sm-2">
          <label class="col-sm-2 col-form-label" for="rol">Admin</label>
          <input type="checkbox" id="rol" name="rol" class="mb-2" value="1"/>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Añadir usuario</button>


    </form>
    {% for error in errores %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2 error">{{error}}</div>
    {% endfor %}
</div>
{% endblock %}