{% extends 'base.html' %}
{% block content %}
<div class="container p-5 my-5 border">
    <div style="display: flex;">
        <div style="flex: 1; display: flex; flex-direction: column; align-items: center;">
            <img src="Foto de perfil.png" alt="Foto de perfil" style="width: 100px; height: 100px;">
            <p>Nombre de usuario: {{user.username}}</p>
            <p>Email: {{user.email}}</p>
        </div>
        <div style="flex: 3; display: flex; flex-direction: row; align-items: flex-start;">
            <a href="editarPerfil"><button class="btn btn-primary" style="margin-right: 25px;">Editar perfil</button></a>
            <a href="amigos"><button class="btn btn-primary" style="margin-right: 25px;">Amigos</button></a>
            <a href="solicitudes"><button class="btn btn-primary" style="margin-right: 25px;">Solicitudes</button></a>
            <a href="misLibros"><button class="btn btn-primary" style="margin-right: 25px;">Mis libros</button></a>
            <button class="btn btn-primary">Reseñas</button>
        </div>
    </div>
</div>
{% endblock %}